@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap");
* {
  color: aliceblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

body {
  color: #ededed;
}

.blur {
  filter: blur(2.5px);
  text-shadow: 0 0 5px #197ca3;
}

.blur:hover {
  filter: blur(0px);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  opacity: 0.9;
}
.logo {
  position: relative;
  font-size: 30px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  filter: blur(0.9px);
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #197ca3;
  animation: showRight 1s ease forwards;
  animation-delay: 0.1s;
  border-radius: 8px;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  margin-top: 80px;
}

.navbar a:hover,
.navbar a.active {
  color: #197ca3;
}
.home {
  height: 100vh;

  background: url("images/beach.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #197ca3;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #197ca3;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: rgb(16, 19, 19);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #197ca3;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
}

/* KEYFRAMES ANIMATION   */

@keyframes showRight {
  100% {
    width: 0;
  }
}
